# Association between Fertility & Local Municipal Characteristics in Denmark

### Imports

In [2]:
import geopandas as gpd # for geospatial data handling
import pandas as pd
import contextily as cx # for plotting
import matplotlib.pyplot as plt # for plotting
from pyproj import CRS # for more advanced CRS modifications and transformations

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)

ERROR 1: PROJ: proj_create_from_database: Open of /opt/conda/share/proj failed

### Data

Load the data from DenmarkStatistik and geometries for municipalities of Denmark and then merge them into one geo dataframe

In [3]:
data_edu = pd.read_excel('Data/Educational_attainment_by_highest_education_completed_(total)_2021.xlsx')
data_fer = pd.read_excel('Data/fertility_rates_by_municipality_2021.xlsx')
data_bir = pd.read_excel('Data/live_births_by_municipality_2021.xlsx')
data_mar = pd.read_excel('Data/market_value_for_real_estate_average_dkk_2021.xlsx')

In [18]:
geometry = gpd.read_file('Data/municipalities_dk.gpkg')

In [19]:
geometry.head()

,kommunekode,navn,region,municipal_id,geometry
0,0370,Næstved,None,370,"MULTIPOLYGON (((672902.450 6143708.870, 672880..."
1,0330,Slagelse,None,330,"MULTIPOLYGON (((654675.250 6154223.210, 654636..."
2,0766,Hedensted,None,766,"MULTIPOLYGON (((563379.450 6175110.360, 563346..."
3,0510,Haderslev,None,510,"MULTIPOLYGON (((516449.610 6137370.130, 516423..."
4,0550,Tønder,None,550,"MULTIPOLYGON (((482562.400 6122027.620, 482507..."

In [23]:
# rename the columns to prepare for merge
data_edu.rename(columns = {'Unnamed: 0':'municipality_nm', 2021:'edu_att'}, inplace = True)
data_fer.rename(columns = {'Unnamed: 0':'municipality_nm', 2021:'fer_rate'}, inplace = True)
data_bir.rename(columns = {'Unnamed: 0':'municipality_nm', 2021:'live_birth'}, inplace = True)
data_mar.rename(columns = {'Unnamed: 0':'municipality_nm', 2021:'market_val'}, inplace = True)

In [24]:
# merge to one data frame
data = pd.merge(pd.merge(data_fer, data_bir), pd.merge(data_edu, data_mar))

In [25]:
data.head()

  municipality_nm fer_rate live_birth  edu_att market_val
0      Copenhagen  1 563.9     10 285  501 212  2 399 736
1   Frederiksberg  1 787.8      1 534   74 788  3 435 510
2          Dragør  2 510.9        146    9 074  4 014 690
3          Tårnby  2 056.7        473   28 727  2 823 345
4     Albertslund  1 608.7        274   18 664  2 931 561

In [31]:
data['municipality_nm'] = data['municipality_nm'].replace('Copenhagen', 'København')

In [32]:
geometry = geometry.rename(columns={'navn': 'municipality_nm'})
geometry.head()

,kommunekode,municipality_nm,region,municipal_id,geometry
0,0370,Næstved,None,370,"MULTIPOLYGON (((672902.450 6143708.870, 672880..."
1,0330,Slagelse,None,330,"MULTIPOLYGON (((654675.250 6154223.210, 654636..."
2,0766,Hedensted,None,766,"MULTIPOLYGON (((563379.450 6175110.360, 563346..."
3,0510,Haderslev,None,510,"MULTIPOLYGON (((516449.610 6137370.130, 516423..."
4,0550,Tønder,None,550,"MULTIPOLYGON (((482562.400 6122027.620, 482507..."

In [33]:
merged_data = pd.merge(data, geometry, on='municipality_nm')

In [34]:
merged_data.head()

,municipality_nm,fer_rate,live_birth,edu_att,market_val,kommunekode,region,municipal_id,geometry
0,København,1 563.9,10 285,501 212,2 399 736,0101,None,101,"MULTIPOLYGON (((723090.010 6171801.780, 723090..."
1,Frederiksberg,1 787.8,1 534,74 788,3 435 510,0147,None,147,"MULTIPOLYGON (((722290.770 6177984.800, 722299..."
2,Dragør,2 510.9,146,9 074,4 014 690,0155,None,155,"MULTIPOLYGON (((729575.650 6168529.720, 729555..."
3,Tårnby,2 056.7,473,28 727,2 823 345,0185,None,185,"MULTIPOLYGON (((729600.300 6172549.660, 729596..."
4,Albertslund,1 608.7,274,18 664,2 931 561,0165,None,165,"MULTIPOLYGON (((711377.280 6178342.550, 711352..."